<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>주문 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th>주문 번호</th>
            <th>이메일</th>
            <th>주소</th>
            <th>우편번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <a th:href="@{/order-detail(orderId=${order.orderId})}" th:text="${order.orderId}"></a>
            </td>
            <td th:text="${order.email}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.postcode}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
